@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/*CONTENEDOR PRINCIPAL*/

.body-class{
    display: grid;
    grid-template-rows: 90px auto;
    min-height: 100vh;
}

/*TÍTULO*/

.title-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ddd;
}

.title{
    font-size: 34px;
}

.periodo{
    margin-top: 5px;
    font-size: 18px;
}

/*CONTENIDO PRINCIPAL*/

.main-content{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
    padding: 20px;
    
}

/*GRAFICAS*/

.content-goals-grafic{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.goals-inperson,
.goals-virtual,
.goals-distance,
.goals-total-Enrollments,
.goals-tuition-free{

    background: white;
    border:1px solid #ddd;
    border-radius:18px;
    height:170px;
}

.goals-title{
    text-align:center;
    margin-top:12px;
    font-size:20px;
}

.goals-graphic{
    width:180px;
    height:120px;
    position:relative;
    margin:auto;
    overflow:hidden;
}

.goals-graphic canvas{
    width:100% !important;
    height:100% !important;
}

.porcentaje{

    position:absolute;
    left:50%;
    bottom:10px;
    transform:translateX(-50%);
    font-size:30px;
    font-weight:bold;
}

/*GRID DE ASESORES*/

.teams-container{

    display:grid;
    grid-template-columns:repeat(2,minmax(320px,1fr));
    gap: 15px;
    width:100%;
    overflow: visible;
    
}
.team-goals{
    display: flex;
    flex-direction: column;
    gap: 15px;    
}
.content-goals-globals{
    display:flex;
    flex-direction:column;
    gap:15px;
    width: 200px;
    margin-left:45%;
    background-color: #f775c5;
    border-radius: 18px;
    padding: 10px;
    
}
.container-goals-lider{
    border: 2px solid #f775c5;
    border-radius: 18px;
    background: #da5ca9;
    font-size: 15px;
    padding: 2px;
}
.container-goals-asesores{
    border: 2px solid #f775c5;
    border-radius: 18px;
    background: #da5ca9;
    font-size: 14px;
    padding: 2px;
}
.content-goals-globals h2, h3, span{
    display:flex;
    justify-content:center;
    color: white;
}
/*CADA ASESOR*/

.content-teams{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:8px;
    row-gap:0px;
    background-color: white;
    border-radius:18px;
    padding:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    overflow: visible;
    position: relative;
    z-index: 1;
}
.content-teams:hover{
    z-index: 100;
}

.team-title{

    grid-column:1/3;
    text-align:center;
    font-size:22px;
    margin-bottom:5px;
    color: black;
}

/*IMAGENES*/

.teams-container{
    position: relative;
}

.teams-container:hover .content-teams-image{
    opacity:.30;
    filter:blur(2px);
    transform:scale(1);
    transition:.35s;
}

.teams-container .content-teams-image:hover{

    opacity:1;

    filter:none;

    transform:scale(1);

    z-index:9999;
}

.teams-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    z-index: 50;
}

.content-teams-image:hover .photo img{

    box-shadow:0 0 25px rgba(77,124,254,.5);
}

.content-teams-image{
    display:flex;
    margin-bottom:-15px;
    flex-direction:column;
    align-items:center;
    position:relative;
    z-index:1000;
    overflow:visible;
}
.team-images{
    display:grid;
    grid-template-columns:repeat(2,2fr);
    gap:10px;
}
.photo{
    position:relative;
    width:140px;
    height:140px;
    transition:.35s;
    z-index:2;
}

.photo img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #4D7CFE;
    transition:.45s;
}

.card-matriculas{
    position:absolute;
    left:50%;
    bottom:-15px;
    transform:translateX(-50%);
    width:90px;
    height:40px;
    background:#4D7CFE;
    color:#fff;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size:22px;
    transition:.45s;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.extra-info{

    position:absolute;
    top:0;
    left:70%;
    width:160px;
    opacity:0;
    transform:translateX(-15px);
    transition:.3s;
    display:flex;
    flex-direction:column;
    gap:8px;
    pointer-events:none;
}

.info-box{

    background:#4D7CFE;
    color:white;
    padding:10px;
    border-radius:12px;
    margin-top:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
}
.info-box:last-child{
    margin-bottom: 0;
}
.content-teams-image:hover{
    z-index:1001px;
}

.content-teams-image:hover .photo{
    transform:scale(1.8);
}

.content-teams-image:hover img{

    border-radius:20px;
    box-shadow:0 0 30px rgba(77,124,254,.35);
}

.content-teams-image:hover .card-matriculas{

    width:110px;
}

.content-teams-image:hover .extra-info{
    opacity:1;
    filter:none;
    transform:translateX(80%);
}

.overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    opacity:0;
    pointer-events:none;
    transition:.3s;
    z-index:900;
}
.overlay.active{

    opacity:1;
}
/*RESPONSIVE*/

@media (max-width:1200px){

    .main-content{
        grid-template-columns:1fr;
    }
    .content-goals-grafic{
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }
    .teams-container{
        grid-template-columns:1fr;
        overflow: visible;
    }
}